@using SSBlazorFileManager.ClassLibrary.Components.TreeView;
@using SSBlazorFileManager.ClassLibrary.Components.Cards;
@using FluentStorage;
@using FluentStorage.Blobs;
@using FluentStorage.ConnectionString;
<h3><i class="chevron-right"></i>File Browser</h3>
<div class="ss-file-manager">
    <div class="container">
        <div class="navbar">
            <TreeView></TreeView>
        </div>
        <div class="content">   
            <div class="content-toolbar">
                <div class="btn icon-btn"><i class="icon i-home"></i> </div>

                <div class="content-search-box">
                    <div class="input-group">
                        <input type="text" class="form-input" name="currentPath" placeholder="Search ..." />
                    </div>
                </div>
                
            </div>
            <div class="content-grid">
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
                <ImageFileCard />
            </div>
        </div>
    </div>
</div>
@code {
    static string directory = "";
    IBlobStorage storage = StorageFactory.Blobs.DirectoryFiles(directory);

}


