<a class="tree-nav__item-title node-item"><i class="icon @Icon"></i> @Title</a>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Icon { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}
