<div class="grid-item">
    <div class="dropdown">
        <button class="dropbtn"><i class="icon i-options__vertical"></i></button>
        <div class="dropdown-content">
            <a href="#"><i class="icon i-edit"></i>Edit</a>
            <a href="#"><i class="icon i-eye-fill"></i>Preview</a>
            <a href="#"><i class="icon i-data-form"></i>Info</a>
        </div>
    </div>
</div>



@code {

}
