.grid-item {
  display: grid;
  margin: 6px;
  flex: 0 0 200px;
  min-height: 150px;
  background-color: white;
  box-shadow: 2px 1px 7px 0px rgba(122, 122, 122, 0.3);
}

/* Dropdown Button */
.dropbtn {
  background-color: #10e8f0;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  justify-self: end;
  line-height: 1rem;
  vertical-align: middle;
  max-width: 3rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;
  display: inline-block;*/
  position: relative;
  display: grid;
  max-height: 3rem;
  justify-self: end;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /*  position: absolute;*/
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* Change color of dropdown links on hover */
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover {
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown:hover .dropbtn {
  background-color: #45f8ff;
}
