/* --------------- Website Theme --------------- */
/*#region*/
:root {
    /* --hue-1: 257; */
    --hue-1: 358;
    /* --hue-2: 47; */
    --hue-2: 257;
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: hsl(var(--hue-2), 100%, 61%);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --section-padding: 7rem;
}

body {
    --bg-color: hsl(var(--hue-2), 100%, 97%);
    --bg-color-1: hsl(var(--hue-2), 100%, 95.5%);
    --bg-color-2: #fff;
    --bg-color-3: hsl(var(--hue-2), 100%, 98%);
    --bg-color-transparent: rgba(255, 255, 255, 0.6);
    --heading-color: hsl(var(--hue-2), 61%, 24%);
    --text-color: hsl(var(--hue-2), 17%, 63%);
    --event-background-shadow: linear-gradient(180deg, rgba(255, 0, 0, 0.8),rgba(255, 0, 0, 0) );
}

body.dark {
    --bg-color: hsl(var(--hue-2), 19%, 15%);
    --bg-color-1: hsl(var(--hue-2), 21%, 11%);
    --bg-color-2: hsl(var(--hue-2), 23%, 19%);
    --bg-color-3: hsl(var(--hue-2), 23%, 24%);
    --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
    --heading-color: hsl(var(--hue-2), 100%, 95%);
    --text-color: hsl(var(--hue-2), 14%, 51%);
    --event-background-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0) );
}

body.dark .st1 {
    fill: hsl(var(--hue-1), 18%, 29%);
}

body.dark .shape.square {
    opacity: 0.07;
}

body.dark .toggle-btn {
    background-color: var(--bg-color-3);
}

body.dark .toggle-btn:hover {
    filter: brightness(110%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
    opacity: 0.6;
}

body.dark .form-input:hover {
    filter: brightness(110%);
}
/*#endregion*/
